<div style="text-align: center; width:90%;float:right;">

<!--
  <h2>View an advertiser</h2>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Enter ID of advertiser</mat-label>
      <input matInput [(ngModel)]="this.id">
    </mat-form-field>
    <button mat-raised-button  color="primary"(click)="getAdvertiser()">Get Advertiser</button>
  </p>
-->

  <mat-tab-group >
    <mat-tab label="View Advertiser">
      <h2>View an advertiser</h2>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Enter endpoint to view</mat-label>
          <input matInput [(ngModel)]="this.id" required>
        </mat-form-field>
        <button mat-raised-button  color="primary"(click)="getAdvertiser()">Get Advertiser</button>
      </p>

    </mat-tab>
    <mat-tab label="Add Advertiser">
      <h2>Add an advertiser</h2>
      <p>
        <mat-form-field>

          <mat-label>Contact Name</mat-label>
          <input matInput [(ngModel)]="this.contactName" placeholder="Contact Name" required/>

        </mat-form-field>
        <mat-form-field>
          <mat-label>Credit Limit</mat-label>

          <input matInput [(ngModel)]="this.creditLimit" placeholder="Credit Limit" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>

          <input matInput [(ngModel)]="this.name" placeholder="Name" required/>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addAdvertiser()">Add a new advertiser</button>
      </p>

    </mat-tab>
    <mat-tab label="Delete Advertiser">

      <h2>Delete an advertiser</h2>
      <p>
        <mat-form-field>
          <mat-label>Enter ID</mat-label>
          <input matInput [(ngModel)]="this.idDelete" required/>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="deleteAdvertiser()">Delete advertiser</button>
      </p>
    </mat-tab>
  </mat-tab-group>









  <h1>
    {{dataIn}}
  </h1>
</div>
