
<div style="text-align:center">


  <p>
    <button mat-raised-button class = "getAdvertiser" (click)="getAdvertiser()">Get Advertiser</button>
    <mat-form-field >
      <mat-label>Enter ID of the advertiser to view</mat-label>
    <input matInput [(ngModel)]="this.id"/>
    </mat-form-field>
  </p>


  <h2>Add an advertiser</h2>
  <p>
    <input [(ngModel)]="this.contactName" placeholder="Contact Name"/>

    <input [(ngModel)]="this.creditLimit" placeholder="Credit Limit"/>

    <input [(ngModel)]="this.name" placeholder="Name"/>


    <button class = "add" (click)="addAdvertiser()">Add a new advertiser</button>
  </p>
  <h2>Delete an advertiser</h2>
  <p>
    <button class = "delete" (click)="deleteAdvertiser()">Delete advertiser</button>
    <input [(ngModel)]="this.idDelete" placeholder="Enter ID to delete"/>
  </p>
  <h1>Messages:<br/>
    {{dataIn}}
  </h1>
</div>
