//@import '~@ihm-software/ihm-ui-common/src/assets/styles/ihm-variables';
@import '~@ihm-software/ihm-ui-common/src/assets/styles/main';

@import "~ag-grid-community/dist/styles/ag-grid.css";
.wrap{
  width:90%;
  float:right;
  text-align: center;
}
