//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@ihm-software/ihm-ui-common/src/assets/styles/main';
@import '~@ihm-software/ihm-ui-common/src/assets/styles/ihm-variables';

.wrap{
  width:90%;
  float:right;
  text-align: center;
}
